/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body,
div,
span,
a,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
footer,
header,
section {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1.3;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* VARIABLES*/

:root {
  --title-txt: normal 2.8rem "Staatliches";
  --subtitle-txt: normal 1.5rem "Oswald", sans-serif;
  --main-txt: lighter 1.25rem "Oswald", sans-serif;
  --btn-txt: normal 1rem "Oswald", sans-serif;
  --primary-color: #6a63fe;
  --secondary-color: #2f2e40;
  --secondary-color-variant: #8985a8;
  --white: #f2f2f3;
  --bg-color: #403e56;
  --btn-bg-color: var(--primary-color);
  --btn-bg-color-hv: var(--secondary-color-variant);
  --btn-txt-color: var(--white);
  --btn-txt-color-hv: var(--secondary-color);
  --btn-border: 10px;
}

/* GLOBAL STYLING */
body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

label {
  font: var(--subtitle-txt);
  color: var(--white);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: var(--secondary-color-variant);
  color: var(--white);
  font: var(--btn-txt);
}

footer a {
  margin: 0 5px;
  font-weight: 400;
  color: var(--secondary-color);
  transition: all 0.5s ease-out;
}

.fa-github-alt {
  margin-right: 10px;
}

a:hover,
a:active {
  color: var(--primary-color);
}

.buttons,
.buttons label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0 10px;
  background-color: var(--btn-bg-color);
  border-radius: var(--btn-border);
  font: var(--btn-txt);
  color: var(--btn-txt-color);
  transition: all 0.5s ease-out;
}

.buttons a {
  border: none;
  background-color: transparent;
  color: var(--btn-txt-color);
}

.buttons:hover,
.buttons:active {
  color: var(--btn-txt-color-hv);
  background-color: var(--btn-bg-color-hv);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="radio"] {
  display: none;
}

input:checked {
  background-color: red;
  color: red;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: var(--secondary-color);
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px var(--secondary-color);
}

/* HOME PAGE */

.home-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  background: transparent url(./img/hacker.png) no-repeat fixed 25% 75%;
  background-size: cover;
}

.home-container main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 40%;
  padding: 5%;
  background-color: var(--bg-color);
}

.home-container article {
  text-align: center;
  color: var(--white);
  font: var(--main-txt);
}

.home-container p {
  margin: 5% 0;
  font: var(--main-txt);
}

.home-container h1,
header {
  text-align: center;
  font: var(--title-txt);
  color: var(--white);
}

.row-input {
  display: flex;
  align-items: baseline;
  width: 100%;
  margin: 0 0 20px;
}

.row-input input[type="number"] {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  font: var(--btn-txt);
  color: var(--white);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--btn-bg-color);
  outline: none;
  resize: none;
}

/* CIPHER PAGE */

.cipher-container {
  background-color: var(--bg-color);
  margin-top: 2%;
}

header {
  height: 60px;
}

.cipher-container main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 15%;
  width: 100vw;
  min-height: calc(100vh - 120px);
}

.texts-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100vh - 210px);
  max-height: 600px;
}

.count-caracteres {
  display: flex;
  align-items: center;
  margin-left: auto;
  font: var(--btn-txt);
  opacity: 50%;
}

.fa-chevron-left {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  font-size: 50px;
  color: var(--primary-color);
  transition: all 0.5s ease-out;
}

.fa-chevron-left:hover,
.fa-chevron-left:active {
  color: var(--white);
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 1% 0;
}

.buttons-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 0 10px;
}

.text-message {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 32vw;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  border: none;
  border-bottom: 2px solid #5a56bf;
  outline: none;
  overflow: auto;
  font: var(--main-txt);
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.08)
}

.text-message:focus, .cipher-container input:focus,
.row-input input[type="number"]:focus {
  background-color: var(--secondary-color-variant);
  color: var(--white);
}

.text-message:focus::placeholder, .cipher-container input:focus::placeholder,
.row-input input[type="number"]:focus::placeholder {
  font-weight: lighter;
  color: var(--white);
}

label {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0 25px;
}

.radio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0 10px;
  border-radius: var(--btn-border);
  border: 2px solid var(--btn-bg-color);
  background-color: transparent;
  font: var(--btn-txt);
  color: var(--btn-txt-color);
}

label.radio-button {
  padding: 0;
}

#encode:checked + span, #decode:checked + span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: var(--btn-border);
  border: 2px solid var(--btn-bg-color);
  background-color: var(--btn-bg-color);
}

@media (max-width: 768px) {
  .home-container main {
    width: 60%;
  }

  .cipher-container input {
    width: 500px;
  }

  .text-message {
    width: 500px;
    height: calc(50vh - 360px);
  }

  .texts-container {
    flex-direction: column;
    flex: 1;
  }

  .col {
    margin: 5% 0;
    height: 35vh;
  }
}

@media (max-width: 414px) {
  .home-container main {
    width: 100%;
    padding: 0 20px;
  }

  footer {
    height: 70px;
    padding: 10px;
  }

  .home-container p {
    font: var(--btn-txt);
  }

  .cipher-container main {
    padding: 0 10%;
    justify-content: start;
  }

  .texts-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: unset;
  }

  .col {
    margin: 10px 0 20px;
  }

  .cipher-container input {
    width: 90%;
  }

  .text-message {
    width: 80vw;
    height: calc(50vh - 215px);
  }

  .col label {
    font: var(--main-txt);
  }

  .fa-chevron-left {
    font-size: 35px;
  }
}

@media (max-width: 320px) {
  .col {
    margin: 5px 0 5px;
  }
}
