*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    color: rgb(219, 215, 219);
    font-size: 20pt;
    display: block;
    background-color:#0D0D0D;
}
header{
    justify-content: center;
    box-sizing: border-box; 
    height: 15vh;
    color: rgb(219, 215, 219);
    background-color:#0D0D0D;
    font-size: 28pt;
    text-align: center;
    padding: 4.5vh;
    display: flex;
}
main{
    display: flex;
    justify-content: space-around;
    height: 80vh;
    background-image: url(./img/img_hacker_mind.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}
.rightSide, .leftSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textArea{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttonArea{
    display: flex;
    justify-content: space-between;
    padding: 1vh;
}
.textMessage{
    width: 400px;
    background-color: #0D0D0D;
    color: #D9D9D9;
    opacity: .95; 
    overflow: auto;
}
#textResult{
    height: 50vh;
}    
#offset{
    height: 5vh;
}    
#textToEncode{
    height: 45vh;
}    
.button{ 
    box-sizing: border-box; 
    height: 40px;
    width: 120px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    background-color:#0D0D0D;
    justify-content: center;
    color: #5A56BF;
    font-size: normal 16pt;
    opacity: .95;
}
#restart, #copyText{
    width: 180px;
}
footer{
    box-sizing: border-box; 
    height: 3vh;
    padding: 1vh;
    text-align: center;
    background-color:#0D0D0D;
    color:#D9D9D9;
    font-size: 8pt;
}
a{
    color: #D9D9D9;
}